.ep-posts-list {
  display: grid;
  --grid-columns: 3;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: 20px;
  margin-top: 10px;
}
.elementor-widget-ep_taxanomy_loop .elementor-widget-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    margin: 0;
  }
  .ep-term-content {
    position: relative;
  }
  .ep-term-content .ep-divider {
    box-sizing: none;
    border: none;
    background-color: #000;
  }
}
